body {
    background-image: url("OLO2EG0.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px;

}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 10px 0 10px 0;
    font-family: Audiowide;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;

}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.h1 {

    font-family: Audiowide;
    margin-top: 5%;
    font-style: bold;

}
.h2 {
    font-family: Poppins;
    font-size: x-large;
    text-align: left;
}

.h3 {
    font-family: Poppins;
}

.title {
    font-family: Audiowide;
    font-size: x-large;
    text-align: center;
}

.about {
    background-color: coral;
    margin-top: 1px;
    opacity: 0.7;
}

.skills {
    height: 200%;
    background-color: darksalmon;
    text-align: center;
    opacity: 0.7;

    }

.work {
    background-color: burlywood;
    opacity: 0.7;
    text-align: center;
}

.img_work {
    height: 300pt;
    width: 400pt;
    padding: 5%;
}

.contact {
    background-color: bisque;
    opacity: 0.7;
    text-align: center;
}

.img-responsive {
    margin: 0 auto  ;
}

.city {
    height:550pt;
    background-image: url("jake-blucker-255891.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    opacity: 0.7;
}

.city2 {
    height: 40pt;
    background-image: url("jake-blucker-255891.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    opacity: 0.3;
}

.footer {
    font-size: 10px;
    font-family: Poppins;
    text-align: center;
}



