body {
    background-image: url("OLO2EG0.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 10px 0 10px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;

}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.h1 {

    font-family: "DejaVu Sans";
    margin-top: 5%;
    font-style: bold;

}
.h2 {
    font-family: "DejaVu Sans";
    font-style: italic;

}

.about {
    background-color: coral;
    margin-top: 5%;
}

.skills {
    background-color: darksalmon;
}

.vinci {
    height: 250px;
    background-image: url("Vinci_-_Hammer_2A_m.jpg");
    background-repeat: repeat ;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    tex

}
blockquote {
    font-family: Georgia, "Times new roman", Times;
    font-style: italic;
    color: #333;
    width: 55%;
    border-left: 5px solid #ddd;
    padding-left: 25px;
    position: relative;
}
